@import "./variables.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

.hidden-lg{display: none}
.hidden-xs{display: block}

.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 3px solid transparent;
    padding: 5px 30px;
    font-size: 18px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.btn-primary{
        background: $primary-color;
        border: 3px solid $primary-color;
        color: $black-color;
        font-weight: 700;
        &:hover{
            background: transparent;
        }
    }
    &.btn-primary-outline {
        background: transparent;
        border: 3px solid $primary-color;
        color: $primary-color;
        font-weight: 700;
        &:hover{
            background: $primary-color;
            color: $black-color;
        }
    }    
}
section{
    &.container{
        padding: 40px 90px 50px;
        .title{
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            color: $black-color;
            padding-bottom: 40px;
            &.white-txt{
                color: $white-color;
            }
        } 
        .left-sec, .right-sec{
            -webkit-box-flex: 1 0 auto;
            -moz-box-flex: 1 0 auto;
            -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            overflow: hidden;
            width: 50%;
        }
        .left-sec{
            padding-right: 20px;
            border-right: 1px solid $color-variant-7;            
        }
        .right-sec{
            padding-left: 20px;
        }       
    }
    &.light-bg{
        background: $color-variant-3;
    }
    &.dark-bg{
        background: $black-color;
    }    
    .wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        .w-3{
            -webkit-box-flex: 1 1 33.333%;
            -moz-box-flex: 1 1 33.333%; 
            width: 33.333%;
            -webkit-flex: 1 1 33.333%;
            -ms-flex: 1 1 33.333%;
            flex: 1 1 33.333%;
        }
        .w-4{
            -webkit-box-flex: 1 1 25%;
            -moz-box-flex: 1 1 25%; 
            width: 25%;
            -webkit-flex: 1 1 25%;
            -ms-flex: 1 1 25%;
            flex: 1 1 25%;
        }        
        ul.awards {
            list-style: none;
            >li {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                padding: 20px 0;                
                .sec-logo img{max-width: 150px;}
                .sec-desc {
                    padding: 0 20px;
                    text-align: left;
                    h3{
                        font-size: 24px;
                        font-weight: 700;
                    }
                    p{
                        margin: 5px 0 15px;
                    }
                }
            }
        }
        ul.certifications {
            list-style: none;
            >li {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                padding: 15px 0;
                .cert-img img{max-width: 100px;}             
                p{padding: 0 20px;}
            }
        }            
    }
    .block-wrapper{
        position: relative;
        .custom-nav{
            position: absolute;
            top: 50%;
            width: 45px;
            height: 45px;
            background: $white-color;
            cursor: pointer;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            border-radius: 50%;
            box-shadow: 0 0 9px 0 rgba(187, 187, 187, 0.5);
            z-index: 999;
            &.next{left: -15px}
            &.prev{right: -15px}
            i{
                font-size: 18px;
                color: $black-color;
                font-style: normal;
                font-weight: 700;
                line-height: 45px;
                padding: 0 13px;
            }
        }
    }
    .media-cards{
        .media-card{
            padding: 0 15px;
            .media-card-img{width: 100%;}
            .media-card-desc{margin: 10px auto;}
            .media-card-cta{
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                align-items: center;                
                .media-logo{
                    -webkit-box-flex: 1 1 50%;
                    -moz-box-flex: 1 1 50%; 
                    width: 50%;
                    -webkit-flex: 1 1 50%;
                    -ms-flex: 1 1 50%;
                    flex: 1 1 50%;
                    text-align: right;
                    img{
                        width: auto;
                        height: 50px;
                    }
                }
            }
        }
    }
    .card{
        padding: 0 10px;
        .card-title{
            position: relative;
            font-size: 24px;
            color: $black-color;
            margin-bottom: 20px;
            &::after{
                content: '';
                width: 60px;
                position: absolute;
                height: 4px;
                background: $primary-color;
                bottom: -10px;
                left: 0;
                padding: 0;
            }
        }
        img{
            width: 100%;
        }
        .card-desc{
            font-size: 16px;
            color: $black-color;
            margin: 10px 0;
        }
        .card-cta {
            margin-bottom: 30px;
            .btn-primary-outline{
                color: $black-color;
            }
        }
    }
    .more-link {
        display: block;
        margin: 20px auto;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        color: $black-color;
        text-transform: uppercase;
        text-decoration: none;
        .arrow{
            position: absolute;
            font-size: inherit;
            padding-left: 5px;
            color: $primary-color;
            font-style: normal;
            font-weight: 700;
        }
        &:hover{
            .arrow{padding-left: 10px;}  
        }
    }
    .read-more{
        -webkit-box-flex: 1 1 50%;
        -moz-box-flex: 1 1 50%; 
        width: 50%;
        -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        font-size: 18px;
        font-weight: 700;
        color: $black-color;
        text-decoration: none;
        .arrow{
            position: absolute;
            font-size: inherit;
            padding-left: 5px;
            color: $primary-color;
            font-style: normal;
            font-weight: 700;
        }
        &:hover{
          .arrow{padding-left: 10px;}  
        }
    }
    &.video-section{
        .left-sec{
            border: 0;
            .inline-YTPlayer{margin: 0 auto;}
            #video-player{
                width: 600px;
                height: 350px;
                position: relative;
                margin: 0 auto;              
                cursor: pointer;                
            }

        }
        .right-sec{
            .desc{
                .title{
                    position: relative;
                    font-size: 30px;
                    line-height: 36px;
                    color: $white-color;
                    font-weight: 700;
                    text-align: left;
                    padding-bottom: 10px;
                    &:after{
                        content: '';
                        width: 60px;
                        background: $primary-color;
                        position: absolute;
                        height: 4px;
                        bottom: 0px;
                        left: 0;
                        padding: 0;
                    }
                }
                p{
                    padding: 15px 0 30px;
                    font-size: 18px;
                    color: $white-color;
                }
                .btn{
                    width: 150px;
                }
                
            }
            .videos-container{
                position: relative;
                display: block;
                padding: 0;
                margin: 0;
                margin-top: 60px;
                overflow-x: auto;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                box-sizing: border-box;
                width: 100%;
                .video-slider{
                    list-style: none;
                    width: max-content;
                    .video-list{
                        position: relative;
                        display: inline-block;
                        margin-right: 30px;
                        background: $color-variant-1;
                        cursor: pointer;
                        &:last-child{
                            margin-right: 0;
                        }
                        &:after{
                            content: '\f102';
                            font-family: 'Eticon';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            color: $white-color;
                            font-size: 30px;
                            transform: translate(-50%, -50%);                    
                        }
                        img {                            
                            max-width: 200px;
                            max-height: 100px;
                        }
                    }
                }  
            }
                     
        }
    }
    #testimonials{        
        display: block;
        .testimonial-widget {
            position: relative;
            padding: 7% 10% 5%;
            &:before{
                content: '\f103';
                font-family: 'ETicon';
                font-size: 40px;
                color: $primary-color;
                position: absolute;
                top: 0;
                left: 10%;
            }                    
            .quote {
                font-size: 20px;
            }
            .client {
                margin: 20px 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                .client-img {
                    width: 60px;
                    height: 60px;
                    img {
                        border-radius: 50%;
                    }
                }
                .client-desc {
                    margin-left: 20px;
                    align-items: center;
                    .name {
                        font-size: 24px;
                        font-weight: 700;
                    }
                    .desg {
                        font-weight: 500;
                        color: $primary-color;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
    #clients {
        list-style: none;
        .client {
            padding: 0 15px;
            div{
                position: relative;
                background: $white-color;
                border: 1px solid $color-variant-9;
                height: 115px;
            }
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
    }
    .contact-wrapper {
        width: 100%;
        border: 6px solid $primary-color;
        padding: 30px;
        h2 {
            font-size: 24px;
            text-align: center;
        }
        .contact-section {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            margin: 30px 0;
            .title {
                text-align: left;
                padding-bottom: 0;
            }
            .desc {
                font-weight: 18px;
            }
            .details {
                list-style: none;
                > li {
                    position: relative;
                    margin: 24px 0;
                    width: 300px;
                    padding-left: 30px;
                    span {
                        position: absolute;
                        font-size: 18px;
                        left: 0;
                        color: $color-variant-5;
                        opacity: 0.2;
                    }
                }
            }
            .left-sec {
                padding-right: 5%;
                border-right: 1px solid $color-variant-7;
            }
            .right-sec {
                padding-left: 5%;
                .form-elements {
                    position: relative;
                    width: 100%;
                    .form-element {
                        position: relative;
                        span {
                            position: absolute;
                            top: -15px;
                            right: 0;
                            color: red;
                            font-size: 12px;
                        }
                    }
                    .form-control {
                        display: block;
                        width: 100%;
                        height: 44px;
                        padding: 6px 12px;
                        font-size: 16px;
                        line-height: 1.42857143;
                        color: $color-variant-5;
                        background-color: $white-color;
                        background-image: none;
                        border: 1px solid $color-variant-7;
                        border-radius: 0;
                        margin: 20px 0;
                        &.has-err {
                            border: 1px solid red;
                            box-shadow: none; 
                        }
                    }
                }
                .form-action {
                    margin-top: 30px;
                    .btn {
                        width: 100%;
                        color: $black-color;
                        font-size: 24px;
                    }
                }
            }
        }
    }
    &#footer{
        .widget {
            padding: 20px;
            &.left{
                -webkit-box-flex: 1 1 40%;
                -moz-box-flex: 1 1 40%;
                width: 40%;
                -webkit-flex: 1 1 40%;
                -ms-flex: 1 1 40%;
                flex: 1 1 40%;
            }
            &.right{
                -webkit-box-flex: 1 1 30%;
                -moz-box-flex: 1 1 30%;
                width: 30%;
                -webkit-flex: 1 1 30%;
                -ms-flex: 1 1 30%;
                flex: 1 1 30%;
            }
            .title {
                color: $white-color;
                font-size: 24px;
                font-weight: 700;
                text-align: left;
                padding-bottom: 20px;
            }
            p {
                color: $color-variant-6;
                line-height: 1.25;
                width: 100%;
                max-width: 350px;
            }
            .links {
                list-style: none;
                li+li {
                    padding-top: 20px;
                }
                a {
                    color: $color-variant-6;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover{color: $white-color}
                }
            }
            &.social{
                text-align: right;
                .title, .social-icons {text-align: right}
                span {
                    color: $color-variant-6;
                    font-size: 35px;
                    margin-right: 20px;
                    cursor: pointer;
                    &:last-child{margin-right: 0}
                    &:hover{color: $white-color}

                }
            }
        }
    }
    &#about{
        border-bottom: 1px solid $color-variant-7;
        .left-sec {
            border: 0;
        }
        .right-sec {
            .title {
                font-size: 22px;
                font-weight: 700;
                color: $primary-color;
                margin: 20px 0;
                padding: 0;
                text-align: left;
            }
            p {
                color: $color-variant-8;
                line-height: 1.38;
            }
            ul {
                list-style-position: inside;
                margin: 20px 0;
                color: $color-variant-8;
                line-height: 2.5;
            }
        }
        .about-us{
            margin: 5% 0 1%;
            .left-sec, .right-sec {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                text-align: center;
                > div {
                    -webkit-box-flex: 1 0 auto;
                    -moz-box-flex: 1 0 auto;
                    -webkit-flex: 1 0 auto;
                    -ms-flex: 1 0 auto;
                    flex: 1 0 auto;
                    width: 50%;
                    &.img{
                        padding-right: 5%;
                        img{
                            width: 100%;
                        }
                    }
                }
                .description{
                    .title {
                        font-size: 30px;
                        font-weight: 700;
                        color: $black-color;
                        text-align: left;
                        margin: 0;
                        padding: 0;
                        padding-bottom: 20px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 1.38;
                        text-align: left;
                    }
                }                
            }            
        }
    }
    #key-people{
        list-style: none;
        .people{
            padding: 0 20px;
            text-align: center;
            img{
                width: 100%;
            }
            .name{
                margin: 10px auto 5px;
                font-size: 24px;
                font-weight: 700;
                color: $black-color;
            }
            .desg{
                font-size: 16px;
                font-weight: 500; 
                color: $primary-color;
            }
        }
    }
    .products {
        list-style: none;
        li{
            display: inline-block;  
            width: 100%;  
            .product {
                display: block;
                + li {
                    margin-top: 5%;
                }
                .prod-img {
                    width: 30%;
                    float: left;
                    padding: 3%;
                }
                .p-desc {
                    width: 70%;
                    float: left;
                    .title {
                        margin: 0;
                        padding: 0;
                        padding-bottom: 2%;
                        text-align: left;
                        a{
                            display: inline-block;
                            font-size: 30px;
                            font-weight: 700;
                            color: $black-color;
                            text-decoration: none;
                        }
                    }
                    .desc {
                        font-size: 16px;
                        line-height: 1.38;
                        text-align: left;
                    }                
                    
                }
            }
            .other-details {
                width: 70%;
                float: right;
                .form-elements {
                    margin: 3% 0;
                    label {
                        display: block;
                        font-size: 22px;
                        font-weight: 700;
                        color: $black-color;
                        text-align: left;
                        margin: 0;
                        padding: 0;
                    }
                    select {
                        width: 100%;
                        max-width: 275px;
                        padding: 10px;
                        border-color: $grey-color;
                        margin: 1% 0;
                        border-radius: 2px;
                    }                
                }
                .btn {
                    width: 100%;
                    max-width: 250px;
                }
            }
        }
        
    }
    #p-detail {
        display: inline-block;
        width: 100%;
        .product-slider {
            width: 35%;
            float: left;
            padding: 2%;
            border: 1px solid #ddd;
            text-align: center;
        }
        .info {
            width: 65%;
            float: left;
            padding: 2%;
            .p-name {
                font-size: 30px;
                color: #000;
                font-weight: 900;
            }
            .details {
                margin: 2% 0;
            }
            p {
                font-size: 16px;
                line-height: 1.13;
                color: #000;
                text-align: left;
            }
            .price {
                font-size: 24px;
                font-weight: 700;
                line-height: 0.75;
                padding: 4% 0;
            }
            .title {
                font-size: 18px;
                font-weight: 700;
                line-height: 1;
                padding-bottom: 2%;
            }
            ul {
                list-style-position: outside;
                padding-left: 5%;
                li {
                    font-size: 14px;
                    margin-bottom: 3%;
                    line-height: 1.35;
                }
            }
            .actions {
                .btn {
                   color: $black-color;
                   margin-right: 2%; 
                }
            }
        }
    }
}
#header {
    .navbar {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        padding: 20px 90px 15px;
        color: $black-color;
        font-size: 17px;
        border-bottom: 3px solid $primary-color;
        .navbar__link-brand {
            display: inherit;
            img{
                max-height: 45px;
            }
        }    
        .navbar__items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            margin-left: 50px;
            .navbar__link {
                padding: 0 20px;
                text-transform: uppercase;
                font-weight: 500;
                position: relative;
                text-decoration: none;
                cursor: pointer;
                color: $black-color;
                &.active, &:hover{
                  color: $primary-color;
                    &:after{
                        content: '';
                        position: absolute;                        
                        /*background: $primary-color;
                        height: 5px;
                        left: 0;
                        right: 0;
                        top: 42px;*/

                        border-left: 9px solid transparent;
                        border-right: 9px solid transparent;
                        border-bottom: 10px solid $primary-color;
                        left: 40%;
                        bottom: -35px;
                    }
                }
            }
            &.navbar__items--right {
                margin-left: auto;
                .Rectangle {
                  width: 205px;
                  height: 60px;
                  border-radius: 30.5px;
                  border: solid 1px #ededed;
                  position: relative;
                  .call-icon {
                    color: $primary-color;
                    text-align: center;
                    position: absolute;
                    top: 16px;
                    left: 16px;
                    font-size: 22px;
                }
                .call {
                  position: absolute;
                  top: 13px;
                  left: 45px;
                  font-size: 13px;
                  font-weight: 600;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: normal;
                  text-align: right;
                  color: $black-color;
              }
              span.cp-email {
                position: absolute;
                left: 56px;
                top: 30px;
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: $black-color;
            }
              }
            }
        }
        .navbar__link-toggle {
            display: none;
        }
    }
    .sliders{
         position: relative;
         width: 100%;
         .slide{
             position: relative;
             .slider-img{
                 height: 500px;
             }
             .slide-desc{
                 position: absolute;
                 text-align: left;
                 top: 50%;
                 left: 60%;                 
                 transform: translate(-50%, -60%);
                 h2{
                     color: $white-color;
                     font-size: 60px;
                     font-weight: 900;
                 }
                 p{
                    color: $white-color;
                    font-size: 20px;
                    font-weight: 300;
                }
             }
             &:before {
                content: '';
                background: $color-variant-1;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
         }
         .slide-nav {
            position: absolute;
            top: 50%;
            width: 36px;
            height: 36px;
            cursor: pointer;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            border-radius: 4px;
            z-index: 999;
            &.next {
                left: 5%;
            }
            &.prev {
                right: 5%;
            }
            i {
                font-size: 35px;
                color: $white-color;
                font-style: normal;
                font-weight: 800;
                line-height: 33px;
                padding: 0 7px;
            }            
        }
        .contact-us{
            position: absolute;
            top: 8%;
            left: 53%;
            width: 450px;
            opacity: 0.8;
            background-color: $color-variant-6;
            color: $white-color;  
            padding: 31px;
            h2 {
              font-size: 22px;
              font-weight: 800;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: center;
              color: #ffffff;
              margin-bottom: 10px;
          }
          .form-elements{
              label{
                float: left;
                width: 160px;
                margin: 12px 0px;
                font-size: 16px;
                font-weight: 400;
            }
              input{
                width: 58%;
                border-radius: 2px;
                background-color: $white-color;
                margin: 10px 0px;
                padding: 9px 9px;
                color: $black-color;
                outline-color: $primary-color;
            }
              textarea {
                width: 58%;
                background: $white-color;
                font-size: 16px;
                padding: 13px 9px;
                margin-top: 9px;
                outline-color: $primary-color;
                border-radius: 2px;
            }
            .form-action {
              float: right;
              .submit-btn {
                text-align: center;
                border-radius: 18.5px;
                background-color: $color-variant-2;
                margin-top: 20px;
                color: $white-color;
                width: 230px;
                padding: 6px;
                transition: 0.3s all;
                }
            }
          }
          }      
      }
    } 
    .header-band {
        padding: 40px 90px;
        border-bottom: 1px solid $color-variant-7;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        .title {
            font-size: 36px;
            color: $black-color;
            border-right: 2px solid $primary-color;
            padding: 10px 20px;
            padding-left: 0;
            -webkit-box-flex: 1 1 20%;
            -moz-box-flex: 1 1 20%; 
            width: 20%;
            -webkit-flex: 1 1 20%;
            -ms-flex: 1 1 20%;
            flex: 1 1 20%;
            strong {
                font-size: inherit;
                color: $primary-color;
            }
        }
        .desc {
            font-size: 18px;
            line-height: 1.39;
            color: $color-variant-2;
            padding-left: 20px;
            -webkit-box-flex: 1 1 80%;
            -moz-box-flex: 1 1 80%; 
            width: 80%;
            -webkit-flex: 1 1 80%;
            -ms-flex: 1 1 80%;
            flex: 1 1 80%;
        }
    }
    .inner-header {
        position: relative;
        height: 200px;
        background: url(../images/inner-header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        &:after {
            content: '';
            position: absolute;
            background: $color-variant-1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 40px;
            font-weight: 500;
            color: $white-color;
            text-transform: uppercase;
            z-index: 1;
            transform: translate(-50%,-50%);
        }
        .breadcrumb {
            position: absolute;
            bottom: 0;
            left: 50%;
            background: $primary-color;
            list-style: none;
            padding: 10px;
            z-index: 2;
            transform: translateX(-50%);
        }
        li {
            display: inline;
            margin: 0 5px;
            color: $black-color;
            font-size: 18px;
            font-weight: 500;
            &:not(.active):after {
                content: '/';
                position: absolute;
                margin-left: 2.5px;
            } 
            &.active {
                color: $white-color;
            }                       
            a {
                color: inherit;
                font-size: inherit;
                text-decoration: none;
                font-weight: inherit;
            }
        }
    }
}
  
@media only screen and (max-width: 768px) {
    .hidden-lg{display: block}
    .hidden-xs{display: none}
    .btn{
        &.btn-sm{
            font-size: 12px;
            padding: 5px 15px;
        }
    }
    section{
        &.container{
            padding: 20px;
            .title{
                font-size: 30px;
                font-weight: 700;
                color: $black-color;
                padding-bottom: 20px;                
            } 
            .left-sec, .right-sec{width: 100%;}
            .left-sec{
                padding-right: 0;
                padding-bottom: 10px;
                border-right: none;
                border-bottom: 1px solid $color-variant-7;
            }
            .right-sec{
                padding-left: 0;
                padding-top: 10px;
            }           
        }
        .wrapper{           
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .w-3, .w-4{
                -webkit-box-flex: 1 1 100%;
                -moz-box-flex: 1 1 100%; 
                width: 100%;
                -webkit-flex: 1 1 100%;
                -ms-flex: 1 1 100%;
                flex: 1 1 100%;
            }            
            ul.awards {
                >li {               
                    .sec-logo img{max-width: 100px;}
                    .sec-desc {
                        h3{
                            font-size: 18px;
                        }
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
            ul.certifications { font-size: 15px;}      
        }   
        .card{
            padding: 0;
            .card-title{
                font-size: 22px;
            }
        }
        &.video-section{
            .left-sec{
                border-bottom: 0;
                #video-player{
                    width: 100%;
                    height: 200px;
                    &:after{
                        content: '\f102';
                        font-family: 'Eticon';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        color: $white-color;
                        font-size: 50px;
                        transform: translate(-50%, -50%);                    
                    }
                }
    
            }
            .right-sec{
                .desc{
                    .title{
                        font-size: 24px;                    
                    }
                    p{
                        font-size: 15px;
                    }                
                }
                .videos-container{               
                    .video-slider{
                        list-style: none;
                        width: max-content;
                        .video-list{
                            img {                            
                                max-width: 150px;
                                max-height: 85px;
                            }
                        }
                    }  
                }                     
            }
        }
        #testimonials{  
            .testimonial-widget {
                padding: 7% 10% 5%;
                &:before{
                    content: '\f103';
                    font-family: 'ETicon';
                    font-size: 40px;
                    color: $primary-color;
                    position: absolute;
                    top: 0;
                    left: 10%;
                }                    
                .quote {
                    font-size: 18px;
                    padding-top: 10%;
                }
                .client {
                    .client-img {
                        width: 50px;
                        height: 50px;
                        img {
                            border-radius: 50%;
                        }
                    }
                    .client-desc {
                        .name {
                            font-size: 20px;
                        }
                        .desg {
                            font-size: 14px;                            
                        }
                    }
                }
            }
        }  
        .contact-wrapper {
            border: 2px solid $primary-color;
            padding: 15px;
            h2 {
                font-size: 20px;
            }
            .contact-section {
                margin: 30px 0;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                .title {
                    text-align: left;
                    padding-bottom: 0;
                    font-size: 30px;
                }
                .desc {
                    font-weight: 16px;
                }
                .details {
                    > li {
                        padding-left: 20px;                        
                    }
                }
                .left-sec {
                    border-right: none;
                }
                .right-sec {
                    .form-action {
                        margin-top: 20px;
                        .btn {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        &#footer{
            .widget {
                padding: 20px 0;
                &.left, &.right{
                    -webkit-box-flex: 1 1 100%;
                    -moz-box-flex: 1 1 100%;
                    width: 100%;
                    -webkit-flex: 1 1 100%;
                    -ms-flex: 1 1 100%;
                    flex: 1 1 100%;
                }
                .links {
                    list-style: none;
                    li{
                        display: inline;
                        + li {
                            padding-left: 10px;
                        }
                    }
                }
                &.social{
                    text-align: left;
                    .title, .social-icons {text-align: left}                    
                }
            }
        }
        &#about{
            .about-us{
                .right-sec {                    
                    > div {
                        &.img{
                            order: 2;
                            padding-right: 0;
                            padding-left: 5%;
                        }
                    }
                }    
                .left-sec, .right-sec {
                    padding-top: 5%;
                    > div {
                        &.img{
                            width: 40%;
                        }
                    }
                    .description{
                        width: 60%;
                        .title {
                            font-size: 24px;
                            padding-bottom: 10px;
                        }
                        p {
                            font-size: 15px;
                        }
                    }                
                }            
            } 
        }     
        #key-people{
            .people{
                .name{
                    font-size: 18px;
                }
                .desg{
                    font-size: 12px;
                }
            }
        }
        .products {
            list-style: none;
            li{
                .product {
                    .p-desc {
                        .title{
                            a{
                                font-size: 22px;
                            }
                        }
                        .desc {
                            font-size: 14px;
                            line-height: 1.36;
                        }                
                        
                    }
                }
                .other-details {
                    width: 100%;
                    .form-elements {
                        label {
                            font-size: 18px;
                        }
                        select {
                            max-width: 100%;
                        }                    
                    }
                    .btn {
                        max-width: 100%;
                    }
                }
                + li {
                    margin-top: 20px;
                    padding-top: 20px;
                    border-top: 1px solid $color-variant-7;
                }
            }
            
        }  
        #p-detail {
            .product-slider{
                width: 100%;
                margin: 5% auto;;
            }
            .info {
                width: 100%;
                padding: 0;
                .p-name {
                    font-size: 16px;
                }
                p {
                    font-size: 14px;
                    line-height: 1.29;
                }
                .price {
                    display: inline-block;
                    font-size: 22px;
                    margin-bottom: 3%;
                    line-height: 0.82;
                }
                .actions {
                    .btn {
                       width: 100%; 
                       color: $black-color;
                       margin: 5% 0 0 0;
                    }
                }
            }
        }   
    }
    #header{
        .navbar {
            padding: 16px 20px;
            align-items: center;
            .navbar__link-brand img{
                max-height: 28px;
            }
            .navbar__items {
                flex-direction: column;
                display:none;
                &.navbar__items--right {
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                }
            }
            .navbar__toggleshow {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                margin: 0;
                position: absolute;
                top: 65px;
                left: 0;
                right: 0;
                background: $color-variant-8;
                z-index: 2147483647;
                .navbar__link {
                    font-size: 17px;
                    line-height: 3.5;
                    font-weight: 700;
                }
            }
            .navbar__link-toggle {
                display: initial;
                margin-right: 15px;
                cursor: pointer;
                #toggle-bar{
                    font-size: 22px;
                    text-decoration: none;
                    font-style: normal;
                }
            }           
        }
        .sliders{
            .slide{
                .slider-img{
                    height: 300px;
                }
            }            
          .slide-nav{
                width: 30px;
                height: 30px;
                i{
                    font-size: 16px;
                    line-height: 28px;
                    padding: 0 5px;
                }
            }
        }
        .header-band {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 20px;
            text-align: center;            
            .title {
                -webkit-box-flex: 1 1 100%;
                -moz-box-flex: 1 1 100%; 
                width: 100%;
                -webkit-flex: 1 1 100%;
                -ms-flex: 1 1 100%;
                flex: 1 1 100%;
                font-size: 30px;
                border-right: 0;
                position: relative;
                padding-top: 0;                
                &:after {
                    content: '';
                    width: 60px;
                    position: absolute;
                    height: 2px;
                    background: $primary-color;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 0;
                }
            }
            .desc {
                -webkit-box-flex: 1 1 100%;
                -moz-box-flex: 1 1 100%; 
                width: 100%;
                -webkit-flex: 1 1 100%;
                -ms-flex: 1 1 100%;
                flex: 1 1 100%;
                padding: 0;
                padding-top: 15px;
            }
        }
        .inner-header {
            height: 150px;
            .title {
                font-size: 22px;
            }            
            li {
                font-size: 16px;
            }
        }
    }    
}