$primary-color: #fdc900;
$black-color: #000000;
$white-color: #ffffff;
$grey-color: #d8d8d8;
$color-variant-1: rgba(0, 0, 0, 0.22);
$color-variant-2: #333333;
$color-variant-3: #fafafa;
$color-variant-4: #ececec;
$color-variant-5: #030104;
$color-variant-6: #858585;
$color-variant-7: #e6e6e6;
$color-variant-8: #3b3b3b;
$color-variant-9: #dfdfdf;