$primary-color: #da2337;
$black-color: #000000;
$white-color: #ffffff;
$light-color: #e6e6e6;
$color-variant-1: rgba(255, 255, 255, 0);
$color-variant-2: #cc8a00;
$color-variant-3: #a0a6c9;;
$color-variant-4: #626f82;
$color-variant-5: #968585;
$color-variant-6: #463a26c4;
$color-variant-7: #323855;
$color-variant-8: #e9e9e9;
$color-variant-9: #4a4a4a;
$color-variant-10:#d6d6d6;
$color-variant-11:rgba(255, 255, 255, 0.3);
$color-variant-12:#cbcbcb;
$color-variant-13:rgba(0, 0, 0, 0.17);
$color-variant-14:#9b9b9b;
$color-variant-15:#1a1f26;
$color-variant-16:#f9f7f1;
$color-variant-17:#ed193b;
$color-veriant-18:#f1f5f8;
$color-veriant-19: rgba(232, 232, 232, 0.5);